.animate {
  height: 100%;
  max-width: 480px;
  margin: auto;
  overflow: hidden;
  background: #f5f5f5;
  &-main {
    height: 100%;
  }
  &-phone {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 694px;
    width: 342px;
    * {
      box-sizing: border-box;
      display: block;
    }
    .shell {
      height: 100%;
      width: 100%;
      padding: 22px;
      box-shadow: inset 0 0 0 2px #606467, inset 0 0 0 6px #e2e3e4;
      background: #222;
      border-radius: 54px;
    }
    .screen {
      position: absolute;
      top: 22px;
      left: 22px;
      height: 650px;
      width: 300px;
      padding-top: 24px;
      overflow: hidden;
      border-radius: 32px;
      background: #f5f5f5;
    }
    .header {
      height: 24px;
      width: 300px;
      position: absolute;
      top: 22px;
      left: 22px;
      .bar {
        height: 24px;
        width: 164px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        margin: auto;
        background: #222;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        &::before, &::after {
          content: '';
          height: 6px;
          width: 6px;
          position: absolute;
          top: 0;
        }
        &::before {
          background: radial-gradient(circle at bottom left, transparent 0, transparent  75%, #222 75%, #222 100%);
          left: -6px;
        }
        &::after  {
          background: radial-gradient(circle at bottom right, transparent 0, transparent  75%, #222 75%, #222 100%);
          right: -6px;
        }
      }
      .status {
        position: absolute;
        right: 12px;
        bottom: 0;
        width: 54px;
        height: 14px;
        background: url('../img/status.png') no-repeat center;
        background-size: contain;
      }
      .time {
        position: absolute;
        left: 20px;
        bottom: 0;
        font-size: 12px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }
    }
  }
  &-content {
    position: absolute;
    height: 650px;
    width: 300px;
    border-radius: 32px;
    background: #fff;
  }
  @media screen and (max-width: 375px) {
    [data-pc] {
      display: none;
    }
    .animate {
      &-phone {
        width: 100%;
        height: 100%;
        .shell {}
        .screen {
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          padding-top: 0;
        }
      }
    }
  }
}

.m {
  &-content {
    padding: 10px 0;
  }
  &-dialog {

  } 
}

@keyframes loading {
  from {
    opacity: .6;
  }
  to {
    opacity: 1;
  }
}
.u {
  &-loading {
    .item {
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #666;
    }
    .item:nth-child(1) {
      animation: loading .5s infinite;
    } 
    .item:nth-child(2) {
      animation: loading .5s .3s infinite;
    } 
    .item:nth-child(3) {
      animation: loading .5s .6s infinite;
    } 
    .item + .item {
      margin-left: 2px;
    }
  }
  &-dialog {
    padding: 2px 20px;
    overflow: hidden;
    .detail {
      display: inline-block;
      padding: 10px;
      border-top-left-radius: 14px;
      border-top-right-radius: 14px;
      border-bottom-right-radius: 14px;
      border-bottom-left-radius: 6px;
      background-color: #fff;
      &_reply {
        float: right;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 14px;
        background-color: #eee;
      }
    }
  }
}

@keyframes translate-in {
  0% {
    transform: translate(-60px, 0);
  }
  50% {
    transform: translate(5px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
.tst-dialog {
  &-enter-active {
    animation: translate-in .6s;
  }
  &-leave-active {
    animation: translate-in .6s  .8s reverse;
  }
}